{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}


{% block head %}
    {% if page.header %}
        <div id="bandeau">
            <a href="/" title="Université de Picardie Jules Verne " id="logo">UPJV</a>
            {# <span>Université de <span>Picardie</span> Jules Verne</span> #}
            <span>Master <span>MIAGE</span> Amiens</span>
            <ul id="reseaux_sociaux"><li><!--
		 --><a href="https://www.u-picardie.fr/ent">
                        <img src="https://www.u-picardie.fr/medias/photo/ent_1503647800087-png" alt="ENT" title="ENT">
                    </a><!--
  --></li><li><!--
		 --><a href="https://webtv.u-picardie.fr">
                        <img src="https://www.u-picardie.fr/medias/photo/sans-titre-1_1506679360695-png" alt="UPJV TV" title="UPJV TV">
                    </a><!--
  --></li><li><!--
		 --><a href="https://www.facebook.com/Univ.de.Picardie.JV">
                        <img src="https://www.u-picardie.fr/medias/photo/fb_1414659715553-png" alt="Facebook" title="Facebook">
                    </a><!--
  --></li><li><!--
		 --><a href="http://twitter.com/upjv">
                        <img src="https://www.u-picardie.fr/medias/photo/tw_1414659879422-png" alt="Twitter" title="Twitter">
                    </a><!--
  --></li><li><!--
		 --><a href="https://www.u-picardie.fr/adminsite/webservices/export_rss.jsp?objet=actualite&amp;SELECTION=0007&amp;TRI_DATE=DATE_DESC&amp;CODE_RUBRIQUE=ACTUALITES&amp;LANGUE=0&amp;NOMBRE=10">
                        <img src="https://www.u-picardie.fr/medias/photo/rss_1414659912311-png" alt="RSS" title="RSS">
                    </a><!--
  --></li>
            </ul>
        </div>
    {% endif %}
    <!--SOF Navigation Region-->
    {% if page.navigation or page.navigation_collapsible %}
    <nav{{ navbar_attributes }} >
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span></button>
      <div class="collapse navbar-collapse" id="CollapsingNavbar">
        {{ page.navigation }} 
      </div>
    </nav>
    {% endif  %}
    <!--EOF Navigation Region-->

  
    <!--SOF Upjv_Area Region-->
    {% if page.upjv_area %}
          {{ page.upjv_area }}
    {% endif %}
    <!--SOF upjv_area Region-->
    {% endblock %}

{% block content %}
        <div id="main" class="{{ container }}">
          {{ page.breadcrumb }}
          <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                <section class="section">
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                </section>
              </main>
            {% if page.sidebar_first %}
              <div{{ sidebar_first_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
              </div>
            {% endif %}
            {% if page.sidebar_second %}
                <div{{ sidebar_second_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_second }}
                     {# <h1 class="display-1">Heya ! </h1> #}
                </aside>
              </div>
            {% endif %}
          </div>
        </div>
{% endblock %}

{% block footer %}
        <div class="{{ container }}">
          {% if page.footer or page.footer_second or page.footer_third or page.footer_fourth %}
              <div class="col">
                  {{ page.footer }}
            </div>
          {% endif %}
        </div>
{% endblock %}

