{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{% block head %}

    {% if page.upjv_area %}
        <div id="bandeau">
            <a href="https://www.u-picardie.fr/" title="Université de Picardie Jules Verne" id="logo">UPJV</a>
            <span>Université de <span>Picardie</span> Jules Verne</span>


            <ul id="reseaux_sociaux"><li><!--
		 --><a href="https://www.u-picardie.fr/ent">
                        <img src="https://www.u-picardie.fr/medias/photo/ent_1503647800087-png" alt="ENT" title="ENT">
                    </a><!--
  --></li><li><!--
		 --><a href="https://webtv.u-picardie.fr">
                        <img src="https://www.u-picardie.fr/medias/photo/sans-titre-1_1506679360695-png" alt="UPJV TV" title="UPJV TV">
                    </a><!--
  --></li><li><!--
		 --><a href="https://www.facebook.com/Univ.de.Picardie.JV">
                        <img src="https://www.u-picardie.fr/medias/photo/fb_1414659715553-png" alt="Facebook" title="Facebook">
                    </a><!--
  --></li><li><!--
		 --><a href="http://twitter.com/upjv">
                        <img src="https://www.u-picardie.fr/medias/photo/tw_1414659879422-png" alt="Twitter" title="Twitter">
                    </a><!--
  --></li><li><!--
		 --><a href="https://www.u-picardie.fr/adminsite/webservices/export_rss.jsp?objet=actualite&amp;SELECTION=0007&amp;TRI_DATE=DATE_DESC&amp;CODE_RUBRIQUE=ACTUALITES&amp;LANGUE=0&amp;NOMBRE=10">
                        <img src="https://www.u-picardie.fr/medias/photo/rss_1414659912311-png" alt="RSS" title="RSS">
                    </a><!--
  --></li>
            </ul>
        </div>

        {% if page.navigation %}
              <div id="menu">
                {{ page.navigation }}
              </div>
            {# <div id="menu">
                <div id="menu_principal_deco">
                    <button class="icon-menu-2" data-unfold-trigger="menu_principal"><span>Menu</span></button>
                    <ul id="menu_principal" data-unfold-target="menu_principal"><!---->
                        <li><a href="https://www.u-picardie.fr/l-universite/presentation/">L'université</a><ul><!----><li><a href="https://www.u-picardie.fr/l-universite/presentation/">Présentation</a></li><!----><li><a href="https://www.u-picardie.fr/l-universite/actualites/">Actualités</a></li><!----><li><a href="https://www.u-picardie.fr/l-universite/egalite-des-chances/">Égalité des chances</a></li><!----><li><a href="https://www.u-picardie.fr/l-universite/handicap/">Handicap</a></li><!----><li><a href="https://www.u-picardie.fr/l-universite/egalite-f-h/">Égalité F/H</a></li><!----><li><a href="https://www.u-picardie.fr/l-universite/developpement-durable/">Développement durable</a></li><!----></ul></li><!----><li><a href="https://www.u-picardie.fr/formation/notre-offre/">Formation</a><ul><!----><li><a href="https://www.u-picardie.fr/formation/notre-offre/">Notre offre</a></li><!----><li><a href="https://www.u-picardie.fr/formation/l-alternance/">L'alternance</a></li><!----><li><a href="https://www.u-picardie.fr/formation/candidater-s-inscrire/">Candidater / s'inscrire</a></li><!----></ul></li><!----><li><a href="https://www.u-picardie.fr/recherche/presentation/">Recherche</a><ul><!----><li><a href="https://www.u-picardie.fr/recherche/presentation/">Présentation</a></li><!----><li><a href="https://www.u-picardie.fr/recherche/valorisation/">Valorisation</a></li><!----><li><a href="https://www.u-picardie.fr/recherche/nos-competences/">Nos compétences</a></li><!----><li><a href="https://www.u-picardie.fr/recherche/investissements-d-avenir/">Investissements d'avenir</a></li><!----><li><a href="https://www.u-picardie.fr/recherche/projets-internationaux/">Projets internationaux</a></li><!----></ul></li><!----><li><a href="https://www.u-picardie.fr/orientation-et-insertion/presentation/">Orientation et Insertion</a><ul><!----><li><a href="https://www.u-picardie.fr/orientation-et-insertion/presentation/">Présentation</a></li><!----><li><a href="https://www.u-picardie.fr/orientation-et-insertion/orientation-et-reorientation/">Orientation et réorientation</a></li><!----><li><a href="https://www.u-picardie.fr/orientation-et-insertion/stages/">Stages</a></li><!----><li><a href="https://www.u-picardie.fr/orientation-et-insertion/emploi-et-insertion/">Emploi et Insertion</a></li><!----><li><a href="https://www.u-picardie.fr/orientation-et-insertion/enquetes/">Enquêtes</a></li><!----><li><a href="https://www.u-picardie.fr/orientation-et-insertion/entrepreneuriat/">Entrepreneuriat</a></li><!----></ul></li><!----><li><a href="https://www.u-picardie.fr/international/bienvenue/">International</a><ul><!----><li><a href="https://www.u-picardie.fr/international/bienvenue/">Bienvenue</a></li><!----><li><a href="https://www.u-picardie.fr/international/centre-fle/">Centre FLE</a></li><!----><li><a href="https://www.u-picardie.fr/international/appels-d-offres/">Appels d'offres</a></li><!----></ul></li><!----></ul><!-- #menu_principal -->
                </div><!-- #menu_principal_deco -->

            </div> #}
        {% endif %}
    {% endif %}


        {% if page.secondary_menu or page.top_header or page.top_header_form %}
          <nav{{ navbar_top_attributes }}>
          {% if container_navbar %}
          <div class="container">
          {% endif %}
              {{ page.secondary_menu }}
              {{ page.top_header }}
              {% if page.top_header_form %}
                <div class="form-inline navbar-form float-right">
                  {{ page.top_header_form }}
                </div>
              {% endif %}
          {% if container_navbar %}
          </div>
          {% endif %}
          </nav>
        {% endif %}
        <nav{{ navbar_attributes }}>
          {% if container_navbar %}
          <div class="container">
          {% endif %}
            {{ page.header }}
            {% if page.primary_menu or page.header_form %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form float-right">
                    {{ page.header_form }}
                  </div>
                {% endif %}
	          </div>
            {% endif %}
            {% if sidebar_collapse %}
              <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
            {% endif %}
          {% if container_navbar %}
          </div>
          {% endif %}
        </nav>

{% endblock %}

{% block content %}
        <div id="main" class="{{ container }}">
          {{ page.breadcrumb }}
          <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                <section class="section">
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                </section>
              </main>
            {% if page.sidebar_first %}
              <div{{ sidebar_first_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
              </div>
            {% endif %}
            {% if page.sidebar_second %}
              <div{{ sidebar_second_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_second }}
                </aside>
              </div>
            {% endif %}
          </div>
        </div>
{% endblock %}

{% block footer %}
        <div class="{{ container }}">
          {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
            <div class="site-footer__top clearfix">
              {{ page.footer_first }}
              {{ page.footer_second }}
              {{ page.footer_third }}
              {{ page.footer_fourth }}
                DIIIDIDI
            </div>
          {% endif %}
          {% if page.footer_fifth %}
            <div class="site-footer__bottom">
              {{ page.footer_fifth }}
            </div>
          {% endif %}
        </div>
{% endblock %}
