/**
 * @file
 * Subtheme specific CSS.
 */

 @font-face{ 
	font-family: 'sansation-bold';
	src: url('../fonts/Sansation-Bold.ttf') format('truetype')
}
@font-face{ 
	font-family: 'sansation-italic';
	src: url('../fonts/Sansation-Italic.ttf') format('truetype')
}
@font-face{ 
	font-family: 'sansation-bolditalic';
	src: url('../fonts/Sansation-BoldItalic.ttf') format('truetype')
}
@font-face{ 
	font-family: 'arvo-regular';
	src: url('../fonts/Arvo-Regular.ttf') format('truetype')
}
@font-face{ 
	font-family: 'arvo-bold';
	src: url('../fonts/Arvo-Bold.ttf') format('truetype')
}
@font-face{ 
	font-family: 'arvo-italic';
	src: url('../fonts/Arvo-Italic.ttf') format('truetype')
}


#bandeau {
    /* background: #148cbc; */
    background: rgba(0,52,95,1);
    color: #fff;
    font-family: Sansation, Tahoma, Verdana, Segoe, sans-serif;
    margin: 0 0 2.5em;
    margin-bottom: .1em;
    overflow: hidden;
    padding: 0 1em;
    position: relative;
    text-transform: uppercase;
}

#bandeau > span {
    display: inline-block;
    font-size: 0.85714em;
    font-weight: 500;
    margin: 0 0 -.30em;
    vertical-align: bottom;
}
#bandeau > span > span {
    font: 500 1em "sansation-bold", Tahoma, Verdana, Segoe, sans-serif;
}
#logo {
    background: transparent;
    color: #fff;
    display: inline-block;
    font: 500 2.85714em/1 "sansation-bold", Tahoma, Verdana, Segoe, sans-serif;
    margin: -.12em 0 -.21em;
    text-decoration: none;
    vertical-align: bottom;
  }



.slick-slide {
    margin: 10px 0;
}
  @media screen and (min-width: 35em) {
    #bandeau > span {
      font-size: 1.21429em;
    }

    #logo {
      font-size: 3.71429em;
    }

  }
  #reseaux_sociaux li {
    display: inline-block;
    margin: 0 0 0 .25em;
}
#reseaux_sociaux a {
    color: #fff;
    background: #148cbc;
}
#reseaux_sociaux img {
    height: 1.5em;
}
  @media screen and (min-width: 55em) {  

      #reseaux_sociaux {
          bottom: .2em;
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          right: 1em;
      }

      #bandeau > span {
          font-size: 2.14286em;
      }

      #logo {
          font-size: 6.21429em;
      }
    }
  }

/*For the drop down menus*/
.navbar .dropdown-menu {
    background-color: #1d84c3;
}
.dropdown-menu{
    background-color: #1d84c3;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: white;
}
.dropdown-menu>li.dropdown-item{
    background-color:  #1d84c3;
}


/* For Bootstrap Slideshow Responsive */
.carousel{
    padding-top: 5px;
}
.image-style-slidewhos{
    width:100%;
  height:100%;
}
.carousel-control-next-icon{
    color:black;
}


.region-upjv-area{    
    margin-left: -55;
    padding-left: 32px;
    padding-right: 30px;
    border-left-width: 30px;

}
/* .carousel .carousel-item {
    height: 20em;
  }
  .carousel .carousel-item > *:first-child {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
  }
   */

   .mt-0 a{
    color:black;
    font-style: "sansation-italic";
}
.mt-0 a:hover{
    color:#1d84c3;
    text-decoration: none;
    font-weight: none;
}
.card-header a{
    color:black;
}
.card-header a:hover{
    color:#1d84c3;
    text-decoration: none;
    font-weight: none;
}


.image-style-cars{
    width:100%;
}

/* To change the color of the font awesome burger menu  */
.fa-bars{color:white;}

h1,h2,h3,h4,h5,h6{
    /* font-family: "arvo-regular"; */
    color: #1d84c3;
}

.chiffres-cles{
    background: #f5f5f5;
    padding: 1em;
}
.view-empty{
    display:none;
}

/* For the 3 columns down the Carousel */
.contentbox{
    font-size:15px;
}
/* a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
} */
/* .box{
    padding:60px 0px;
} */

.box-part{
    background:#eee;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.titre{
    margin:20px 0px;
}

.fa{
     color:#1d84c3;
}
/* For the nav-tabs */
#nav-presentation-tab,#nav-contact-tab,#nav-infos-tab{
    border-color: #1d84c3;
}
.tabLink{
    color: #000;
}
#myTab{
    border-color: #1d84c3;
}
.liensAnchor{
    color:#1d84c3;
}
.liensAnchor:hover{
    color:#0d2cb4;
}
/* EOF the 3 Columns Down the Carousel Styling */

.sf-depth-3{
    background-color:#1d84c3;
}

/* to disable the RSS icon that shows on the content region */
/* .feed-icons{
    display: none;
} */

.heading-article-title a {
    color:#1d84c3;
    font-family: "arvo-regular";
}
.heading-article-title a:hover {
    color:#1d84c3;
    /* font-family: "arvo-regular"; */
}

.carousel-caption h3{
    font-family: "sansation-bold";
    color:#fff;
}
/* To justify the paragraph of the MIAGE on the front page */
#block-defitinionmiage{
    text-align: justify;
}

#block-footercopyright{
margin:0px 0px 0px;
border: 0px;
}

.sitemap-menu a{
    color:#1d84c3;
    font-family: "arvo-regular";
}
.sitemap-menu a:hover{
    color:#1d84c3;
}

.field__label{
    font-family: "sansation-bold";
    padding-bottom: 5px;
    font-size: 22px;  
    color:#1d84c3;
}

.fiel__item{
    font-size: 20px;
    text-align: justify;
}
#view-title-table-column,#view-field-image-poste-table-column,
 #view-field-date-publication-offre-1-table-column,#view-field-ty-table-column,#view-field-lieu-de-poste-table-column{
    font-family: "sansation-bold";
}
.offre-emploi td a{
    color:black;
}
.node-readmore a{
    color:#1d84c3; 
}
.node-type-list a {
    color:#1d84c3;     
}
.node-type-list a:hover {
    color:#1d84c3;     
}
.list-group-item a, .list-group-item a:hover{
    color:#1d84c3;    
}
.list-group-item{
     border-color: gray;
}
#parcours-list{
    border-bottom: 10px;
    padding-bottom: 10px;
}

.view-field-image-poste-table-column{
    text-align: center;
}