{# @todo: add more control to images and positoning #}

<div{{ attributes.addClass(classes) }} id="{{ id }}">
    {% for key, row in rows -%}
    <div class="media">
        {% if row.image %}
            <div class="mr-3">  
                {{ row.image }}
            </div>
        {% endif %}
        <div class="media-body">
            {% if row.heading %}
                <h5 class="mt-0">
                    {{ row.heading }}
                </h5>
            {% endif %}

            {% if row.body %}
                {{ row.body }}
            {% endif %}
        </div>
    </div>
    {%- endfor %}
</div>